{% extends 'base_layout.html'%}


{%block content %}

<div class="about-stuff">


    <p>I made this site and accompaning apps just for a bit of practice and to stick on the portfolio
    so any and all feedback on how it could be inproved would be greatly appreciated.</p>

    <p>I tried to include the most popular songs as I know them but not too many to try and keep the
      list easily searchable.
    </p>
    <p>For this reason though I'm sure I've left out some good ones so please get in touch if you think
    there are any I've forgotten</p>

</div>


{%endblock%}
