{% extends 'base_layout.html'%}


{%block content %}

<div class="about-stuff">


    <p>I made this site just for fun and a bit of coding practice. </p>

    <p>It uses Django framework with a fully secure admin login system to manage the database of 	songs.</p> 


    <p> </p>

    <p>All feedback on how the site or songs would be greatly appreciated.</p> 
	

    <p>I will try to include the most popular songs as I know them but not too 
   	 many to try and keep the list easily searchable.</p> 
    	
   
    <p>For this reason though I'm sure I've left out some good ones so please 
    	get in touch if you think there are any I've forgotten.</p>
    

</div>


{%endblock%}
