{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pub Song Lyrics and Chords</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
  	<link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>

    <div class="page">

      <header>
      	<div class="header">
        <h1>Irish Pub Songs </h1>
        <!-- <img src="~/Images/pubsongstext.png" alt="Irish Pub Songs header" />
        <img src="{% static 'pubsongstext.png' %}" alt="Irish Pub Songs header"/>-->
      </header>


                <div class="flex-columns">

                	<div class="column-one">

						<nav class="navbar">
							<ul class="navbar-nav">
						      <li class="nav-item">
						 		 <a class="navbar-nav" href="{% url 'home' %}">Home</a>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'list' %}">Songs</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'about' %}">About</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
						      </li>
						    </ul>
						</nav>
					</div>

                     <div class="column-two">
                      <!--left pint -->
                     </div>
                       <div class="column-three">
                             <div class="content">
                             	<div class="space">
                             	 	<p>--------------------------------------------------------------------------------------------</font> </p>
                             	</div>
		                               {% block content %}
		                               {% endblock%}
                             </div>
                             <footer>
                               <div id="footer-left">
                                  <h6>Created by <h5>Conor Gallagher</h5></h6>
                                </div>
                               <!--
                                <div id="footer-right">
                               		 <h5>2020</h5>

                                </div> -->
                            </footer>
                        </div>

                     <div class="column-four">
                         <!--right pint -->
                     </div>
                </div>

      </div>
      <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
          } else {
            navbar.classList.remove("sticky");
          }
        }
        </script>
  </body>
</html>
</html>
