{% extends 'base_layout.html'%}


{%block content %}

<div class="home-stuff">

    
    
    <p>Weither it's on the bus on the way out, the late night lock in, or 
    the walk home you never know when a good sing song will break out.</p>

    <p>You don't have to know all the words, or even most of them, it can
    be hard after a few pints, but it always helps for at least one 
    person to keep the song on track.</p>

    

    <p>So here you have a selection of Ireland's favourate pub songs with 
    lyrics, cords if you've got a guitar player handy and a video for 
    when you've forgotten the tune or even if you'd just like to listen 
    to and maybe learn a few new ones.</p>

    

</div>

<div class ="new-p">

    <p>Warning: Try not to wake the neighbours</p>

</div>

{%endblock%}
