#header {
    height: 100px;

}
img {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {

    text-align: center;
    font: 2.75em/1.75em Georgia, serif;
    color: #996600;
    background-color: #0f0d0d;
}


ul {
    list-style-type: none;
    padding: 1em 0 0 0;
    margin-top:125px;
}


p {
    font-size: 1.25em;
}

li {
    padding: 1em 0 1em 0;
    text-align: center;

    font-size: 2em;
    padding: 1em 5em 0 2em;
    color: #996600;
}

body {
    margin: auto;
    padding: 1em, 0, 0, 10em;
    font: 75%/1.75em "Trebuchet MS", Verdana, sans-serif;
    color: white;
    background-color: #0f0d0d;

}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    height: 945px; /*  Should be removed. Only for demonstration */
    background-color: #0f0d0d;
    margin-top: -100px;

}
.row {
    max-width: 1024px;
    min-width: 760px;
}


.one {
    width: 15%;
    min-width:150px;
}

.two {
    width: 15%;
    height: 938px;
    background-image: url('pint-left.png');
    background-size: 100% 938px;
    background-repeat: no-repeat;
}

.three {
    width: 50%;
    /* max-width: 610px;*/
    background-size: 100% 131px;
    background-image: url('pubsongstext.png'), url('pint_head.png');
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 13em;
}

.four {
    width: 15%;
    height: 938px;
    background-image: url('pint-right.png');
    background-repeat: no-repeat;
    background-size: 100% 938px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#sidebar {



}



#footer {
    margin: 0;
    padding: 0;
    color: #996600;
}
