* {
  
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  /*background-color: #F09A9D;  Red  */
  background-color: #0f0d0d; /*  guinness black #0f0d0d; */

}

.page{
  
  font: 75%/1.75em "Trebuchet MS", Verdana, sans-serif;
  color: white;
  width:100%;
  display: block;

}
h1{
  position: absolute;
  font-size: 0;
}
header img {
  display:block;
  margin: auto;
  border: 1px solid #ddd;
}

/*nav {
  display:flex;
  margin-right: 2%;
  justify-content: space-around;

}*/

.navbar {
  background: none;
  font-size: 2em;
  display: flex;
}

.navbar-nav{
  display:row;
}

nav a{

  padding-top: 3%;
  padding: .5em;
  color: #40b878;
  
}

.song_list {
  font-size: 1.5em;
}

footer {
  display:flex;
  margin-right: 2%;
  margin-bottom: 2%;
  justify-content: space-around;
}

.content {
  min-height: 30em;
}

.space {
  opacity: 0;
}
.new-p{
  padding-top: 3.5em;
}

/* Mobile Styles */
@media only screen and (max-width: 420px) {

  header img {
    width:100%;
    height: auto;
    padding: 7% 10% 0 7%;
  }
  .page {

    font-size: .5em;
    background-image: url('full-pint2.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .column-three{
    margin:  3em;
    margin-top: 0;
  }
  .navbar {
  display:row;


}

}
/* Desktop Styles */
@media only screen and (min-width: 420px) {

  .page {
    margin: 90px auto; /* Vertical  Horizontal */
  }
  header{
    margin-bottom: -88px;
  }
  nav {
    flex-direction: column;

  }
  .flex-columns{

    display:flex;
    justify-content: center;
    height: 945px;

  }

  .column-one{
    padding-top: 4em;
   
  }
  .column-two{
    background-image: url('pint-left.png');
    background-size: 100% 938px;
    background-repeat: no-repeat;
    flex: initial;
    width: 128px;
  }
  .column-three{
    background-size: 100% 131px;
    background-image: url('pubsongstext.png'), url('pint_head.png');
    background-position: top;
    background-repeat: no-repeat;
    max-width: 40em;
  }
  .column-four{
    background-image: url('pint-right.png');
    background-repeat: no-repeat;
    background-size: 100% 938px;
    flex: initial;
    width: 128px;
  }
  
.redbrick{
  width: 150px;
}

  

  .content{
    margin-top: 130px;
  }
  
}




}
